/*Puts about box in top left*/
#summary {
float: right;
width: 220px;
padding:7px 5px 5px 5px ;
line-height: 1em;
}

#sidebar-1 {
clear:both;
float: left;
width: 300px;
}

#content {
float: left;
padding: 10 30 10 30 ;
width: 630px;
}

/*UNKNOWNS*/
article {
 padding: 0px;
 border: solid #2CA0E8 0px;
 border-bottom: solid #2CA0E8 1px;
}

#blog-category {
float: left;
width: 290px;
padding: 10 10 10 10;
}

#blog-month {
padding: 10 10 10 10;
width: 630px;
}

#archive {
float: left;
width: 630px;
}
