/*Puts about box in top left*/
#summary {
float: right;
width: 700px;
padding:10px 150px 20px 20px ;
line-height: 1.9em;
}

#sidebar-1 {
clear:both;
float: left;
width: 300px;
}

#content {
float: left;
padding: 10 200 10 200 ;
width: 1100px;
}

/*UNKNOWNS*/
article {
 padding: 0px;
 border: solid #2CA0E8 0px;
 border-bottom: solid #2CA0E8 1px;
}

#blog-category {
float: left;
width: 330px;
padding: 10 10 10 10;
}

#blog-month {
padding: 10 10 10 10;
width: 800px;
}

#archive {
float: left;
width: 1100px;
}
